.hidden {
    display: none;
}
div.recipe-widget {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
div.recipe-widget > div {
    padding: 0px;
}
div.recipe-widget div.recipe-header {
    height: 50px;
}
div.recipe-widget div.recipe-author {
    font-weight: bold;
}
div.recipe-widget div.recipe-thumbnail {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 5px;
}
h3.recipe-title {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
}
h3.recipe-title a {
    
}
div.ingredients input {
    display: inline;
}
form.edit-recipe {
    display: inline-block;
}
.recipe .recipe-content {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.recipe .recipe-title {
    padding: 10px;
}
.recipe .recipe-body {
    font-size: 1.25em;
}
.recipe .recipe-prep-time-label {
    font-weight: bold;
}
.recipe .recipe-cook-time-label {
    font-weight: bold;
}
.recipe .recipe-description {

}
.recipe-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
div.pagination {
    width: 100%;
    text-align: center;
}
