<div class="recipe-widget-container col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="recipe-widget panel panel-default">
        <div class="recipe-header panel-heading">
            <div class="thumb-edit-btn btn-group pull-right">
                <span class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </span>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('.delete_recipe', id=recipe.id) }}">Remove recipe</a></li>
                    <li><a href="{{ url_for('.edit_recipe', id=recipe.id) }}">Edit recipe</a></li>
                </ul>
            </div>
            <div class="recipe-thumbnail">
                <a href="{{ url_for('.user', username=recipe.author.username) }}">
                    <img class="profile-thumbnail" src="{{ recipe.author.gravatar(size=50) }}">
                </a>
            </div>
            <div class="recipe-author"><a href="{{ url_for('.user', username=recipe.author.username) }}">{{ recipe.author.username }}</a></div>
            <div class="recipe-date">{{ moment(recipe.timestamp).fromNow() }}</div>
        </div>
        <div class="recipe-content panel-body">
            <img class="recipe-img" src="{{ recipe.img_src }}" />
        </div>
        <div class="recipe-footer panel-footer">
            <h3 class="recipe-title"><a href="{{ url_for('.show_recipe', id=recipe.id) }}">{{ recipe.title }}</a></h3>
        </div>
    </div>
</div>
